<!doctype html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="../../../css/menu.css">
</head>

<body>
  <div class='mainmenu'>
  <ul>
    <li class='active'><a href='/'><span>Home</span></a></li>
    <li><a href='/departments'><span>Departments</span></a>
      <ul class="">
        <li><a href="/departments/create">Create</a></li>
        <li><a href='/departments/read'>Read</a></li>
        <li><a href="/departments/update">Update</a></li>
        <li><a href="/departments/delete">Delete</a></li>
      </ul>
    </li>

    <li><a href='/hardware'><span>Hardware</span></a>
      <ul class="">
        <li><a href="/hardware/create">Create</a></li>
        <li><a href='/hardware/read'>Read</a></li>
        <li><a href="/hardware/update">Update</a></li>
        <li><a href="/hardware/delete">Delete</a></li>
      </ul>
    </li>

    <li><a href='/types'><span>Types</span></a>
      <ul class="">
        <li><a href="/types/create">Create</a></li>
        <li><a href='/types/read'>Read</a></li>
        <li><a href="/types/update">Update</a></li>
        <li><a href="/types/delete">Delete</a></li>
      </ul>
    </li>

    <li><a href='/users'><span>Users</span></a>
      <ul class="">
        <li><a href="/users/create">Create</a></li>
        <li><a href='/users/read'>Read</a></li>
        <li><a href="/users/update">Update</a></li>
        <li><a href="/users/delete">Delete</a></li>
      </ul>
    </li>

    <li><a href='/vendors'><span>Vendors</span></a>
      <ul class="">
        <li><a href="/vendors/create">Create</a></li>
        <li><a href='/vendors/read'>Read</a></li>
        <li><a href="/vendors/update">Update</a></li>
        <li><a href="/vendors/delete">Delete</a></li>
      </ul>
    </li>

    <li><a href='/reports'><span>Reports</span></a>
      <ul class="">
        <li><a href="/reports/departments">All Departments</a></li>
        <li><a href="/reports/hardwares">All Hardware</a></li>
        <li><a href="/reports/types">All Types</a></li>
        <li><a href="/reports/users">All Users</a></li>
        <li><a href="/reports/vendors">All Vendors</a></li>
      </ul>
    </li>

    <li><a href='/search'><span>Search</span></a>
    </li>

    {% if loggedin == 'true' %}
      <li class='last' style="float:right"><a href='/logout'><span>Logout</span></a></li>
    {% else %}
      <li class='last' style="float:right"><a href='/login'><span>Login</span></a></li>
    {% endif %}

  </ul>
  </div>

  {% block content %}{% endblock %}
</body>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

</html>
