{% extends 'cdnloads.html' %}

{% block content %}

  <h1>{{ title }}</h1>
  <h3>{{ updateResults }}</h3>
  <div><strong>{{columns}}</strong></div>
  <hr/>
    <form class="form-horizontal" method="POST" action="/departments/list">
      <div class="form-group">
          <div class="col-md-12">
            {% for dep in departments %}
              <div class="col-md-12">
                <label class="radio-inline" for="radios-1">
                  <input type="radio" name="department" value="{{dep.name}}" />
                  {{dep.name}} {{dep.lastname}}, {{dep.firstname}} {{dep.email}}
                </label> 
              </div>
            {% endfor %}
          </div>
      </div>
      <div class="form-group">
          <div class="col-xs-offset-2 col-xs-10">
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </div>
    </form>
    
{% endblock %}
