  {% extends 'cdnloads.html' %}

  {% block content %}

  <h1>{{ title }}</h1>
  <div><strong>{{columns}}</strong></div>
  <hr/>
    <form class="form-horizontal" method="POST" action="/users/edit">
      <div class="form-group">
          <div class="col-md-12">
            {% for user in users %}
              <div class="col-md-12">
                <label class="radio-inline" for="radios-1">
                  <input type="radio" name="email" value="{{user.email}}" />
                  {{ user.lastname }}, {{ user.firstname }} {{ user.email }} {{ user.name }}
                </label> 
              </div>
            {% endfor %}
          </div>
      </div>
      <div class="form-group">
          <div class="col-xs-offset-2 col-xs-10">
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </div>
    </form>

{% endblock %}
